
.content-main {
  margin-bottom: 0;
}

.second-section {
  display: flex;
  justify-content: space-between;
  max-width: 60em;
  margin: 2em auto;
  padding-top: 2em;
}

.box-description {
  flex: 0 0 45%;
}

.box-description {
  flex: 0 0 45%;
  padding: 0 2em;
}

.box-description h2{
  text-align: center;
  color: #dfc15e;
  border-bottom: 1px solid #dfc15e;
  font-size: 3em;
}

.box-description p{
  font-size: 0.9em;
  color: #9494a5;
  text-align: center;
}

.box-pics ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5em;
  list-style-type: none;
}

.box-pics img {
  width: 100%;
  height: 11em;
  object-fit: cover;
}

.box-pics li:nth-child(1) { grid-column: 1 / span 1; grid-row: 1 / span 1; }
.box-pics li:nth-child(2) { grid-column: 2 / span 1; grid-row: 2 / span 1; }
.box-pics li:nth-child(3) { grid-column: 3 / span 1; grid-row: 1 / span 1; }
.box-pics li:nth-child(4) { grid-column: 1 / span 1; grid-row: 2 / span 1; }
.box-pics li:nth-child(5) { grid-column: 2 / span 1; grid-row: 1 / span 1; }
.box-pics li:nth-child(6) { grid-column: 3 / span 1; grid-row: 2 / span 1; }

.deviz {
  background: #270a0a;
  color: #dfc15e;
}

.deviz p:first-child {
  font-family: 'Bad Script', cursive;
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
  padding: 1em;
}

.img-lili-round {
  text-align: center;
}

.img-lili-round img {
  width: 10em;
  height: auto;
  border-radius: 50%;
  border: 5px solid #dfc15e;
  display: inline-block;
  margin-bottom: 1em;
}

.deviz p:nth-child(3) {
  text-align: center;
  font-weight: 100;
  color: #f7f4eb;
  max-width: 60em;
  margin: 0 auto;
  font-size: 0.8em;
  padding-bottom: 2.5em;
}

.section-container {
  background: #EEE;
  padding: 3em 0;
}

.products-section {
  display: grid;
  max-width: 50em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #FFF;
  margin: 0 auto;
  grid-gap: 0;
}

.products-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.products-section .box1,
.products-section .box3,
.products-section .box5 {
  text-align: center;
  padding: 2em;
}

.products-section h3 {
  text-align: center;
  color: #dfc15e;
  border-bottom: 1px solid #dfc15e;
  font-size: 2em;
}

.products-section p {
  font-size: 0.9em;
  color: #9494a5;
}

@media (max-width: 800px) {

  .second-section {
    display: block;
    margin: 0 auto;
    padding: 1.5em 1.5em;
  }

  .box-description {
    margin-bottom: 1em;
  }

  .box-pics ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2em;
  }

  .box-pics li {
    flex: 0 0 45%;
  }

  .section-container {
    padding: 2em;
  }

  .products-section {
    display: block;
  }

  .products-section .box2 {display: none;}
  .products-section .box4 {display: none;}
  .products-section .box6 {display: none;}

  .deviz p:nth-child(3) {
    padding: 0 2em 2em 2em;
    font-size: 1em;
  }

}
