.about-page {
  max-width: 60em;
  margin: 0 auto;
}

.about-page header h2 {
  font-size: 3.5em;
  color: #dfc15e;
  text-align: center;
  margin-top: 0.3em;
}

.about-page span {
  font: 0.5em/1.5 'Montserrat', sans-serif;
}

.about-page p {
  font-size: 0.9em;
  color: #9494a5;
}

.about-page li {
  font-size: 0.9em;
  color: #9494a5;
}

.text-about-lili{
  margin-bottom: 5em;
}

.text-about-lili img {
  float: left;
  clear: both;
  margin-right: 2em;
  border: 5px solid #270a0a;
}

.text-about-dani img {
  float: right;
  clear: both;
  margin-left: 2em;
  border: 5px solid #dfc15e;
}

.text-about-dani ul {
  margin-left: 2em;
}

.sertificates {
  background: #270a0a;
  width: 100%;
  padding-bottom: 2em;
}

.sertificates-content {
  max-width: 60em;
  margin: 0 auto;
}

.sertificates-content h2 {
  font-family: 'Bad Script', cursive;
  font-size: 1.8em;
  text-align: center;
  font-weight: 300;
  padding: 1em;
  color: #dfc15e;
}

.sertificates-content p {
  text-align: center;
  font-weight: 100;
  color: #f7f4eb;
  max-width: 60em;
  margin: 0 auto;
  font-size: 0.8em;
  padding-bottom: 2.5em;
}

.sertificate-gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 2em;
}

.sertificate-gallery img {
  width: 100%;
  height: 11em;
  -o-object-fit: cover;
     object-fit: cover;
}

.sertificate-gallery li {
  flex: 0 0 30%;
}

.saloon {
  max-width: 60em;
  margin: 0 auto;
}

.saloon h2 {
  text-align: center;
  font: 1.5em/1.5 'Montserrat', sans-serif;
  color: #dfc15e;
  margin: 1.5em 0;
}

.saloon ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.saloon ul li {
  flex: 0 0 45%;
}

.saloon img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {

  .sertificate-gallery li {
    flex: 0 0 45%;
    padding-bottom: 1em;
  }

  .saloon ul {
    margin: 0 1.5em 1.5em 1.5em;
  }

}

@media (max-width: 800px) {
  .about-page {
    padding: 2em;
  }

  .about-page p,
  .about-page li,
  .sertificates-content p{
    font-size: 1.1em;
  }

  .sertificate-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .sertificates-content p {
    padding: 0 2em 2em 2em;
  }

  .sertificate-gallery li {
    flex: 0 0 85%;
    padding-bottom: 2em;
    margin: 0 auto;
  }

  .sertificate-gallery li img {
    height: 20em;
  }

  .saloon ul li {
    flex: 0 0 85%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

}
