.site-footer {
    margin-top: var(--spacing-layout-elements);
    padding-top: calc( var(--spacing-layout-elements) / 2);
}

.site-footer {
  background: #270a0a;
  color: #dfc15e;
  text-align: center;
  font-weight: 200;
}

.site-footer a {
  font-weight: 500;
}

.site-footer p {
  padding-top: 1em;
}


