.uslugi-section {
  max-width: 60em;
  margin: 2em auto;
}
.image-background {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}


.nails header,
.hair header {
  text-align: center;
}

.nails header h2 {
  font:  25px/1.5 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center;
  color: #363636;
}

.hair header h2 {
  font:  25px/1.5 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 2em 0;
  text-align: center;
  color: #363636;
}

.hair ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.nails ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}

.nails li h2,
.hair li h2 {
  font:  20px/1.5 'Montserrat', sans-serif;
  font-weight: 500;
  color: #363636;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 0.2em;
  border-bottom: 1.5px solid #dfc15e;
}

.nails li p,
.hair li p {
  margin-top: -1em;
  font:  16px/1.5 'Montserrat', sans-serif;
  font-weight: 300;
}

.hair ul li:nth-child(2) { grid-column: 2 / span 1; grid-row: 1 / span 2; }
.nails ul li:nth-child(2) { grid-column: 2 / span 1; grid-row: 1 / span 2; }
