@import "mixins";

.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;

    @include bp( laptop ) {
      &-header {
        display: flex;
        align-items: center;

        nav {
          margin-left: auto;
      }
    }
  }
}



